@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
*{
    margin: 0;
        padding: 0;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
    
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    text-decoration: none;
    color: aqua;
    font-size: 24px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    

}

body{
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;    
}
.destaque-titulo {
    color: aqua;
}
.destaque-paragrafo {
    color: aqua;
}

.apresentacao{
    padding: 5% 15%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.apresentacao__conteudo{
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.imagem{
    width: 488px; 
    height: 550px; 
    border-radius: 30px;
    
}
.apresentacao__Conteudo__Titulo{
    font-family: "Krona One", serif;
    font-size: 36px;
    
}
.apresentacao__Conteudo__Paragrafo{
    font-size: 24px;
    font-family: "Montserrat", serif;
   
}
.apresentacao__Conteudo__Paragrafo{
    font-family: "Krona One", serif;
    font-size: 24px;
    font-weight: 400;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
    
}

.apresentacao__links__link{
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;   
    font-family: "Montserrat", serif;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border: 2px solid aqua;
    
}  
.apresentacao__links__link:hover{
    background-color: #272727;
    padding: 3%;
} 

.rodape{
    background-color: aqua;
    color: black;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", serif;
    font-weight: 400;
    font-size: 24px;


}